html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
.main-banner {
    width: 100%;
    height: 600px; 
    background-image: url('/assets/img/students.jpeg');
    background-size: cover;
    border-bottom: 4px solid #FFD700;
}

.sub-menu {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: white; 
    margin-top: -50px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    z-index: 2; 
    width: 90%; 
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-top: 4px solid #FFD700;

}

.column {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.inner-row {
    display: flex;
    margin-bottom: 20px;
}

.left-image, .right-image {
    width: 55%;
    height: 120px;
    background-size: cover;
    background-position: center;
    position: relative;
}
.right-image {
    width: 45%;
}

.right-image .overlay-text {
    font-family: 'MuseoModerno';
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 39%;
    left: 26%;
    color: white;
}


#staff-list .left-image {
    background-image: url(/assets/img/our-school.jpg);
    background-position: 0 30%; 
    background-size: cover;
    background-repeat: no-repeat;
  
}


#donation .left-image{
    background-image: url(/assets/img/donation.jpg);
}

#food-image .left-image{
    background-image: url(/assets/img/school_lunch.jpg);
}

#staff-list .right-image{
    background-image: url(/assets/img/leaf.jpg);
}


#donation .right-image{
    background-image: url(/assets/img/leaf.jpg);
}

#food-image .right-image{
    background-image: url(/assets/img/leaf.jpg);
}


/* Main Content */
.main-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.events, .announcement {
    width: 45%;
    background-color: white;
    padding: 20px;
}

.events-header, .announcement-header {
    font-size: 30px;
    color: #003366; /* Lacivert */
    margin-bottom: 20px;
    font-family: 'MuseoModerno';
    font-weight: bold;
}

.event-item, .announcement-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.event-date {
    width: 60px;
    height: 60px;
    background-color: #FFD700; /* Altın sarısı */
    color: #003366;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 35px;
    position: relative;
    z-index: 1;
}

.event-date::before,
.event-date::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    border: 3px solid #003366; 
    border-radius: 50%;
    clip-path: inset(30% 0 10% 0); 
    z-index: -1;
}

.event-date::before {
    left: -3px; 
}

.event-date::after {
    right: -3px; 
    transform: scaleX(-1);
}


.event-details {
    flex-grow: 1;
    font-family: 'MuseoModerno';

}

.event-title {
    font-size: 18px;
    color: #003366;
    margin-bottom: 5px;
    font-family: 'MuseoModerno';

}

.event-time {
    font-size: 14px;
    color: black;
    margin-bottom: 5px;
    font-family: 'MuseoModerno';

}

.event-links, .announcement-links {
    display: flex;
    margin-top: 20px;
}

.event-links a, .announcement-links a {
    color: #003366; 
    text-decoration: none;
    margin-right: 25px;
    font-family: 'MuseoModerno';
}

.event-links a::after, .announcement-links a::after {
    content: ">";
    color: #FFD700; 
    margin-left: 5px;
}

.announcement-item {
    border-bottom: 2px dotted #003366;
    align-items: flex-start; 

}

.announcement-text {
    flex-grow: 1;
}

.announcement-title {
    font-size: 18px;
    color: #003366;
    margin-bottom: 25px;
    font-family: 'MuseoModerno';

}

.announcement-description {
    font-size: 18px;
    color: black;
    font-family: 'MuseoModerno';

}

.announcement-item:last-child .announcement-description {
    margin-bottom: 10px;
}

.announcement-img-1{
    width: 100%;
    height: 150px;
    background-size: cover;
    margin-right: 10px;
    margin-bottom: 10px;
}
.announcement-img-1{
    background-image: url('/assets/img/apple-2.jpg');
}
.announcement-img-2{
    width: 90%;
    height: 150px;
    background-size: cover;
    margin-right: 10px;
    margin-bottom: 10px;
}
.announcement-img-2{
    background-image: url('/assets/img/man-exams.jpg');
}

/* Banner */
.school-banner {
    position: relative;
    width: 100%;
    height: 100vh; 
    background-image: url('/assets/img/banner.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 100px;
}

/* Linear gradient ve metin üst üste bindirme */
.school-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200px; 
    background: linear-gradient(to bottom, #003366, rgba(255, 255, 255, 0)); 
    z-index: 1;
}

/* Metin stili */
.school-banner .text {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
    z-index: 2; 
    margin-top: 50px;
}

/* Metin renkleri */
.school-banner .text .text-line-1 {
    color: #FFD700; 
    font-size: 22px; 
    font-weight: bold;
    margin-bottom: 15px;
}

.school-banner .text .text-line-2 {
    color: white; 
    font-size: 50px; 
}

.text-line-1, .text-line-2{
    font-family: "Ibarra Real Nova";
    letter-spacing: 2px; 

}.album {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh; 
    margin: 100px 0 100px 0 ;
}

.album-header {
    font-size: 40px;
    color: #003366; 
    margin-bottom: 24px;
    font-family: 'MuseoModerno';
    font-weight: bold;
}

.album-cards {
    display: flex;
    justify-content: center;
    gap: 40px; 
}

.album-card {
    width: 400px;
    height: 300px; 
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-size: cover; 
}

.album-card-1 {
    background-image: url('/assets/img/our-school.jpg');
    background-position: 0px -40px;
}

.album-card-2 {
    background-image: url('/assets/img/childs-running-school-hallway.jpg');
    background-position: center;
}

.album-card-title {
    font-size: 18px;
    color: #003366; 
    padding: 10px;
    font-family: 'MuseoModerno';
    font-weight: bold;
    background-color: rgb(255, 255, 255); 
    width: 100%; 
    text-align: center; 
}

.album-card:hover {
    transform: scale(1.05); 
}


.video {
    display: flex;
    justify-content: space-between;
    background-color: #001f3f;
    color: white;
    margin: 0 auto 50px;
    min-height: 50vh;
    max-width: 1200px;
    box-sizing: border-box;
}

.video-content {
    flex: 0.6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto 0px;
    padding-left: 30px;
    height: 250px;
}


.video-content h1 {
    font-size: 36px; 
    margin: 0;
    font-family: 'MuseoModerno';

}

.video-content p {
    margin: 0;
    font-family: 'MuseoModerno';

}

.video-content a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'MuseoModerno';

}

.video-content h1 p a {
    font-family: 'MuseoModerno';
}

.video-content a span {
    color: #FFD700;
}


.video-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-element {
    width: 100%;
    padding-top: 56.25%; 
    position: relative;
    background: black;
}

.video-element iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
} 

@media (max-width: 768px) {
    body {
        width: -webkit-fill-available;
        width: -moz-available; 
        width: fill-available;
        width: 100vw; 
        width: 100%; 
      }
    .sub-menu {
        flex-direction: column;
        align-items: center;
        width: 95%;
        margin-top: 20px;
    }

    .column {
        width: 100%;
        margin-bottom: 20px;
    }

    .inner-row {
        flex-direction: row;
        height: auto;
    }

    .left-image, .right-image {
        width: 50%;
        height: 100px;
    }

    .main-content {
        flex-direction: column;
        width: -webkit-fill-available;
        width: -moz-available; 
        width: fill-available;
        width: 100vw; 
        width: 100%;
        }

    .events, .announcement {
        width: -webkit-fill-available;
        width: -moz-available; 
        width: fill-available;
        width: 100vw; 
        width: 90%;       
        margin-bottom: 20px;
    }

    .announcement-img-1{
        width: 100%;
        height: 100px;
    }
    .announcement-img-2 {
        width: 90%;
        height: 100px;
    }

    .school-banner {
        height: 30vh;
    }

    .school-banner .text {
        top: 20%;
    }

    .school-banner .text .text-line-1 {
        font-size: 18px;
    }

    .school-banner .text .text-line-2 {
        font-size: 36px;
    }

    .album {
        height: auto;
        margin: 50px 0;
    }

    .album-cards {
        flex-direction: column;
        width: -webkit-fill-available;
        width: -moz-available; 
        width: fill-available;
        width: 100vw; 
        width: 100%; 
       }

    .album-card {
        width: 90%;
        margin: 0 auto 20px;
    }
    .video {
        align-items: center;
        flex-direction: column;
        padding: 20px;
    }

    .video-content {
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
        padding-left: 0;
    }

    .video-container {
        width: 100%;
    }

    .video-element {
        padding-top: 56.25%; 
    }
    .video-content h1{
        font-size: 30px;
    }
}

@media (max-width: 480px) {
    .main-banner {
        height: 20vh;
    }

    .event-date {
        width: 50px;
        height: 50px;
        font-size: 14px;
    }

    .event-title {
        font-size: 16px;
    }

    .event-time {
        font-size: 12px;
    }

    .announcement-title {
        font-size: 14px;
        margin-bottom: 0;
    }

    .announcement-description {
        font-size: 12px;
    }

    .school-banner .text .text-line-1 {
        font-size: 12px;
    }

    .school-banner .text .text-line-2 {
        font-size: 24px;
    }

    .album-header{
        font-size: 30px;
    }
}